# Level 1. 콜라츠 추측

<문제설명>

1937년 Collatz란 사람에 의해 제기된 이 추측은, 주어진 수가 1이 될때까지 다음 작업을 반복하면, 모든 수를 1로 만들 수 있다는 추측입니다. 작업은 다음과 같습니다.

>1-1. 입력된 수가 짝수라면 2로 나눕니다.    
>1-2. 입력된 수가 홀수라면 3을 곱하고 1을 더합니다.    
>2. 결과로 나온 수에 같은 작업을 1이 될 때까지 반복합니다.

예를 들어, 입력된 수가 6이라면 6→3→10→5→16→8→4→2→1 이 되어 총 8번 만에 1이 됩니다. 위 작업을 몇 번이나 반복해야하는지 반환하는 함수, solution을 완성해 주세요. 단, 작업을 500번을 반복해도 1이 되지 않는다면 –1을 반환해 주세요.

<제한 사항>

입력된 수, ```num```은 1 이상 8000000 미만인 정수입니다.

# 입출력 예

|n|	return|
|---|---------|
|6|	8|
|16|	4|
|626331| -1 |

In [1]:
def solution(num):
    answer = 0
    if num == 1:
        answer = 0
    else:
        while True:
            if num%2 == 0:
                num = num/2
                answer+=1
            else:
                num = num*3+1
                answer+=1
            if num == 1:
                break
    if answer >= 500:
        answer=-1
    return answer

In [2]:
solution(6)

8

In [3]:
solution(16)

4

In [4]:
solution(626331)

-1

더 좋은 방법이 뭐가 있을까?
다른 이의 풀이를 가져와봤는데 num이 1일 때 처리가 안되어있길래 추가

In [7]:
def collatz(num):
    if num == 1:
        return 0
    else:
        for i in range(500):
            num = num / 2 if num % 2 == 0 else num*3 + 1
            if num == 1:
                return i + 1
    return -1

In [9]:
collatz(626331)

-1